<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>

<div class="visible-xs">
    <div class="container login-form">
  <div class="row">
    <div class="b2b-mobile-banner visible-xs">
          <h2><?php echo __('My Account')?></h2>
          <img src="<?php echo $block->getBaseUrl();?>pub/media/wysiwyg/my-account.jpg" alt="b2b-banner">
      </div>
    
    <div class="col-md-5 col-sm-5">
     <div class="block-content hidden-block" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?= $block->escapeHtml(__('Do you already have an account?')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Login')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
            <button type="submit" class="action log_in_btn" name="send" id="send2">
                <?= $block->escapeHtml(__('Log in')) ?>
            </button>
        <hr>      
     </div>  

  </div>
</div>
</div>

<style type="text/css">
.login-form .hidden-field{
  display: none;
}
.login-form img {
    width: 100%;
}
.login-form .hidden-block{
	display: none;
}
.login-form h1{
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 2.3px;
    font-family: PT_Serif-Web-Regular !important;
}
.login-form p , .block-new-customer.visible-xs p{
    font-size: 24px;
    letter-spacing: 2.3px;
    margin: 50px 0;
    color: #000000;
}
.login-form form h3 ,.block-new-customer.visible-xs h3{
    font-size: 24px;
}
.login-form label{
    display: block;
    font-size: 17px;
}
.login-form hr{
    border-color: #000;
    margin: 35px 0;
}
.login-form input{
    width: 100%;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 6px;
    margin-bottom: 15px;
}
a.login-btn, a.request-btn {
    border: 1px solid #707070;
    display: block;
    text-align: center;
    padding: 8px 8px;
    color: #000;
    margin-top: 15px;
    font-size: 28px;
    clear: both;
    cursor: pointer;
}
.form-group.password{
    width: 50%;
    float: left;
}
.forget-pass {
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 15px;
  font-size: 14px;
}
.forget-pass span {
    display: block;
}
#maincontent .insta_top, #maincontent .subs {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
.news {
    padding: 40px 15px;
}
.subs .news h2 {
    text-align: center;
    font-size: 22px;
}
.news p {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    font-size: 16px;
}
.korting {
    padding: 11px 0;
    border: 1px solid;
    margin: 30px 0 0 0;
    margin-left: 38%;
    margin-right: 38%;
}
.subs .news .korting h3 {
    font-size: 18px;
    color: black;
}
.login-form h2 {
    margin-top: 55px;
    margin-bottom: 20px;
    color: #000000;
}
.login-form form {
    padding-top: 10px;
}
img.mobile-img-res {
    width: 100%;
    float: none;
}
@media(min-width:768px){
.block.block-customer-login.hidden-xs{float: left;}
.block.block-new-customer.hidden-xs{clear: right;
float: right;}
}
@media(max-width:767px){
    .page-title-wrapper{display: none;}
    .block.block-customer-login{
        margin-bottom: 0;
    }
    .login-form p, .login-form form h3{
        text-align:center;
    }
    .login-form form h3{
        font-size: 30px;
        font-family: PT_Serif-Web-Regular !important;
        letter-spacing: 2.3px;
    }
    .login-form h2 {
        position: absolute;
        bottom: 68px;
        left: 50%;
        transform: translate(-50%, 0);
        color: #fff;
        font-size: 45px;
        width: 100%;
        text-align: center;
    }
    .b2b-mobile-banner{
        position: relative;
        margin-bottom: 40px;
    }
   .login-form h2 {
        bottom: 8%;
        font-size: 32px;
    }
    .subs{
      margin-top: 120px;
    }
    .login-form form{
      width: 100%;
    }
    .login-form form {
      padding-top: 0;
    }
}
@media(max-width:480px){
  .login-form h2{
    font-size: 22px;
  }
}
@media (max-width: 767px){
.customer-account-login .block-new-customer.visible-xs p {
    font-size: 14px;
    letter-spacing: normal;
    }
.login-form .action.log_in_btn{
    border: 1px solid #707070;
    display: block;
    text-align: center;
    padding: 8px 8px;
    color: #000;
    margin-top: 15px;
    font-size: 16px;
    clear: both;
    cursor: pointer;
    line-height: 22px;
    }
}
</style>
<script> 
 require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function(){

  jQuery(".login-form .login-btn").click(function(){
    jQuery(".login-form .hidden-field").slideToggle("slow");
  });
});
});
</script>

<div class="block block-customer-login hidden-xs">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script> 
	require(["jquery"], function($){
		jQuery(document).ready(function(){
		  jQuery(".log_in_btn").click(function(){
		    jQuery(".hidden-block").slideDown("slow");
		    jQuery(".log_in_btn").css("display", "none");
		  });
		});
	});
</script>