<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
<?php endif ?>
        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>
 
 <script type="text/javascript">
 	require(["jquery"], function($){
 		$( document ).ready(function() { 
       		jQuery("#header-search #block-search").on( "mouseleave", function() {
	    		//jQuery("#header-search .field.search").removeClass("search-field");
	    	});
            jQuery(".filter-content .filter-current").insertAfter(".filter-content .filter-options");
            jQuery(".filter-content .filter-actions").insertAfter(".filter-content .filter-current");
            /*jQuery( ".filter-content .filter-current" ).siblings(".filter-options").addClass("active");*/
	  	});
	}); 		
 </script>