<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<?php
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?= $block->getGridHtml() ?>
<input type="hidden" name="category_products" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Amasty_VisualMerch/js/assign-products": {
                "selectedProducts": <?= /* @escapeNotVerified */ $block->getProductsJson() ?>,
                "gridJsObjectName": "<?= /* @escapeNotVerified */ $gridJsObjectName?: '{}' ?>"
            }
        }
    }
</script>

<script>
    require('mage/apply/main').apply();
</script>
