<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<?php /** @var \Amasty\VisualMerch\Block\Adminhtml\Products $block */ ?>
<div id="am-page-products" class="am-page-products" data-role="am-page-products">
    <div id="am-sorting" class="am-sorting">
        <div class="am-toolbar">
            <div class="ammerch-sorting-container">
                <?= $block->getChildHtml('store') ?>
                <?= $block->getSortOrderBlock()->toHtml() ?>
                <?= $block->getSortOrderButtonBlock()->toHtml() ?>
            </div>
            <div class="search-form">
                <form id="am-products-search-form" class="ammerch-search-form">
                    <?= $block->getSearchBlock()->toHtml() ?>
                    <?= $block->getSearchButtonBlock()->toHtml() ?>
                </form>
            </div>
            <?php if (!$block->getDispayMode()): ?>
                <?= $block->getAddProductsButtonBlock()->toHtml(); ?>
            <?php endif; ?>
        </div>
    </div>
    <div class="am-tabs" data-role="am-tabs">
        <div id="tab_tile" class="tabs-tab-tile am-tab" role="tabpanel">
            <?= $block->getListingBlock()->toHtml() ?>
        </div>
        <div class="no-display">
            <input type="hidden" data-form-part="category_form" name="vm_landing_products" id="vm_landing_products" value="<?= $block->escapeHtml($block->getPositionDataJson()) ?>" />
            <input type="hidden" data-form-part="category_form" name="vm_landing_products_manual" id="vm_landing_products_manual" value="<?= $block->escapeHtml($block->getPositionDataJson()) ?>" />
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-role=am-page-products]": {
            "Amasty_VisualMerch/js/products": {
                "assignProductsUrl": "<?= /* @escapeNotVerified */ $block->getAssignProductsUrl() ?>",
                "savePositionsUrl": "<?= /* @escapeNotVerified */ $block->getSavePositionsUrl() ?>",
                "searchProductsUrl": "<?= /* @escapeNotVerified */ $block->getSearchProductsUrl() ?>",
                "addProductsUrl":  "<?= /* @escapeNotVerified */ $block->getAddProductsUrl() ?>",
                "removeProductUrl":  "<?= /* @escapeNotVerified */ $block->getRemoveProductUrl() ?>",
                "currentPageId": "<?= /* @escapeNotVerified */ $block->getEntityId() ?>",
                "isDynamicDisplayMode": <?= /* @escapeNotVerified */ $block->getDispayMode() ? 'true' : 'false' ?>,
                "formSelector": "#edit_form"
            }
        }
    }
</script>

<script>
    require('mage/apply/main').apply();
</script>
