<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<?php /** @var \Amasty\DynamicProducts\Block\Adminhtml\Page\Edit\Tab\Product\Listing $block */ ?>
<?php
/** @var \Magento\Catalog\Helper\Image $imageBlock */
$imageHelper =  $block->getImageHelper();
$productCollection = $block->getCollection();
$countRecords = $productCollection->count() ? $productCollection->getSize() : $productCollection->count();
?>
<div data-role="page_products">
    <div class="admin__data-grid-header admin__data-grid-toolbar">
        <div class="admin__data-grid-header-row"> </div>
        <div class="admin__data-grid-header-row">
            <div class="admin__control-support-text">
                <strong><?= $block->escapeHtml(__('Visible items:')) ?></strong> <span id="<?= $block->getHtmlId() ?>-total-count" <?= $block->escapeHtml($block->getUiId('total-count')) ?>><?= $block->escapeHtml($countRecords) ?></span>
                <?php if ($block->getInvisibleProductsCount()) : ?>
                    <strong><?= $block->escapeHtml(__('Invisible items:')) ?></strong> <span id="<?= $block->getHtmlId() ?>-invisible-count" <?= $block->escapeHtml($block->getUiId('invisible-count')) ?>><?= $block->escapeHtml($block->getInvisibleProductsCount()) ?></span>
                <?php endif; ?>
            </div>
            <?php if ($block->getPagerVisibility()): ?>
                <div class="admin__data-grid-pager-wrap">
                    <select name="<?= $block->escapeHtml($block->getVarNameLimit()) ?>"
                            id="<?= $block->getHtmlId() ?>_page-limit"
                            data-role="page_limiter"
                            class="admin__control-select">
                        <?php foreach($block->getPerPageSize() as $perPageSize): ?>
                            <option value="<?= $block->escapeHtml($perPageSize) ?>"<?php if ($block->getPageSize() == $perPageSize): ?>
                                selected="selected"<?php endif; ?>><?= $block->escapeHtml($perPageSize) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <label for="<?= $block->getHtmlId() ?><?= $block->getHtmlId() ?>_page-limit"
                           class="admin__control-support-text"><?= $block->escapeHtml(__('per page')) ?></label>
                    <div class="admin__data-grid-pager">
                        <?php $curPage = $block->getCurrentPage() ?>
                        <?php $lastPage = $block->getLastPageNumber() ?>
                        <?php if ($curPage > 1): ?>
                            <button class="action-previous"
                                    type="button"
                                    data-role="button_previous"
                                    data-value="<?= $block->escapeHtml(($curPage - 1)) ?>">
                                <span><?= $block->escapeHtml(__('Previous page')) ?></span>
                            </button>
                        <?php else: ?>
                            <button type="button" class="action-previous disabled"><span><?= $block->escapeHtml(__('Previous page')) ?></span></button>
                        <?php endif; ?>
                        <input type="text"
                               id="<?= $block->getHtmlId() ?>_page-current"
                               name="<?= $block->escapeHtml($block->getVarNamePage()) ?>"
                               value="<?= $block->escapeHtml($curPage) ?>"
                               class="admin__control-text"
                               data-role="input_page"
                               <?= $block->escapeHtml($block->getUiId('current-page')) ?> />
                        <label class="admin__control-support-text" for="<?= $block->getHtmlId() ?>_page-current">
                            <?= /* @escapeNotVerified */ __('of %1', '<span>' . $lastPage . '</span>') ?>
                        </label>
                        <?php if ($curPage < $lastPage): ?>
                            <button type="button"
                                    title="<?= $block->escapeHtml(__('Next page')) ?>"
                                    class="action-next"
                                    data-role="button_next"
                                    data-value="<?= $block->escapeHtml(($curPage + 1)) ?>">
                                <span><?= $block->escapeHtml(__('Next page')) ?></span>
                            </button>
                        <?php else: ?>
                            <button type="button" class="action-next disabled"><span><?= $block->escapeHtml(__('Next page')) ?></span></button>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif ?>
        </div>
    </div>

    <div class="admin__data-grid-wrap admin__data-grid-wrap-static am-grid-container <?= $block->isFirstPage() ? 'am-first-page' : '' ?>">
        <ul id="am-product-list" class="am-products-list">
            <?php if ($countRecords): ?>
            <?php foreach ($productCollection as $index => $product): ?>
                <?php /** @var \Magento\Catalog\Model\Product $product */ ?>
                <li class="am-product <?= $product->getIsSearchResult() ? 'search-result' : '' ?>">
                    <?php if (!$block->isDynamicMode()): ?>
                    <div class="amlanding-top-toolbar">
                        <div class="amlanding-product-close"
                             data-amlanding-js="product-close"
                             title="<?= $block->escapeHtml(__('Close')); ?>">×</div>
                    </div>
                    <?php endif; ?>
                    <div class="am-image-wrapper">
                        <img src="<?= $block->escapeHtml($block->getImageUrl($product)) ?>" class="am-image" alt="<?= $block->escapeHtml(__('Product image')) ?>" />
                    </div>
                    <div class="am-info">
                        <?php foreach($block->getAttributesToDisplay($product) as $attribute): ?>
                            <?= /* @escapeNotVerified */ $attribute->render() ?>
                        <?php endforeach; ?>
                    </div>
                    <div class="am-controlbar">
                        <div class="am-position">
                            <input type="hidden" name="position" value="<?= $block->escapeHtml($product->getPosition()) ?>" />
                            <div class="am-switch-button <?php if($product->getIsManual()): ?> -manual<?php endif; ?>"
                                 data-role="switcher"
                                 data-amlanding-js="am-switch-button">
                                <input type="checkbox"
                                       id="am-position_<?= $block->escapeHtml($index) ?>_checkbox"
                                       class="admin__actions-switch-checkbox am-display-mode"
                                       data-amlanding-js="am-display-mode"
                                       name="manual_sort"
                                       value="0"
                                    <?php if($product->getIsManual()): ?> checked="checked" <?php endif; ?>>
                                <label class="am-label am-button"
                                       title="<?php if($product->getIsManual()): ?>
                                                   <?= $block->escapeHtml(__('Enable Auto Sorting')) ?>
                                               <?php else: ?>
                                                   <?= $block->escapeHtml(__('Enable Manual Sorting')) ?>
                                               <?php endif; ?>"
                                       for="am-position_<?= $block->escapeHtml($index) ?>_checkbox"
                                       data-amlanding-js="am-label">
                                </label>
                                <span class="am-label-text" data-amlanding-js="am-label-text">
                                    <?php if($product->getIsManual()): ?>
                                        <?= $block->escapeHtml(__('Manual')) ?>
                                    <?php else : ?>
                                        <?= $block->escapeHtml(__('Auto')) ?>
                                    <?php endif; ?>
                                </span>
                            </div>
                            <a href="#"
                               class="am-move-top am-button"
                               data-amlanding-js="am-move-top"
                               title="<?= $block->escapeHtml(__('Move to top')) ?>">
                                <div class="am-arrow-up"></div>
                            </a>
                        </div>
                        <input type="hidden" name="entity_id" value="<?= $block->escapeHtml($product->getId()) ?>" />
                    </div>
                </li>
            <?php endforeach; ?>
                <li class="am-last"></li>
            <?php endif; ?>
        </ul>
    </div>
</div>

<script type="text/x-magento-init">
{
    "[data-role='page_products']": {
        "Amasty_VisualMerch/js/pager": {
            "gridUrl": "<?= $block->escapeHtml($block->getGridUrl()) ?>",
            "varNamePage": "<?= $block->escapeHtml($block->getVarNamePage()) ?>"
        }
    }
}
</script>
