@CHARSET "UTF-8";

.ec-gtm-cookie-directive 
{ 
	position: fixed; 
	bottom:20px; 
	left: 0; 
	right: 0; 
	text-align: center; 
	z-index:9999; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	
}

.ec-gtm-cookie-directive > div 
{ 
	display: inline-block; 
	text-align: left;  
	background:#fff;
	padding:20px; 
	color:#000; 
	max-width:300px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
}

.ec-gtm-cookie-directive > div > div { float:left; min-width:300px; }
.ec-gtm-cookie-directive > div > div > div:before,
.ec-gtm-cookie-directive > div > div > div:after { content: " ";display: table; }
.ec-gtm-cookie-directive > div > div > div:after { clear: both; }
.ec-gtm-cookie-directive > div > div > div p { display:block; padding:5px; margin:0px; }
.ec-gtm-cookie-directive > div > div > div a { cursor:pointer; color:#8e8e8e; }
.ec-gtm-cookie-directive > div > div > div a.action { display:block; text-align:left; padding:5px; float:left; }
.ec-gtm-cookie-directive > div > div > div a.action.accept { color:#8bc53f; font-weight:bold; }
.ec-gtm-cookie-directive > div > div > div a.action.refuse {  }

.ec-gtm-cookie-directive-segments { background:#f7f7f7; margin:10px -20px 10px -20px; padding:10px; }
.ec-gtm-cookie-directive-segments > div { padding:5px 0px 5px 0px; }
.ec-gtm-cookie-directive small { display:block; padding:10px 20px 10px 20px; }

.ec-gtm-cookie-directive > div > div > div .ec-gtm-cookie-directive-note-toggle { display:block; margin:5px 0px 5px 20px; color:#8bc53f; font-size:12px; cursor:pointer; }
.ec-gtm-cookie-directive > div > div > div .ec-gtm-cookie-directive-note { display:none; }

@media (min-width: 1200px) 
{
	.ec-gtm-cookie-directive > div  { max-width:600px; }
	.ec-gtm-cookie-directive > div > div { min-width:600px; }
}