<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$title = '';
if (trim($block->getPageHeading())) {
    $productName = $block->escapeHtml($block->getPageHeading());
    $productName = explode("|",$productName);
    //$title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>'
        //.  $productName[0] . '</span>';
    $title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>'
        .  $productName[0] . '</span>';
}
?>
<?php $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 
$request = $objectManager->get('\Magento\Framework\App\Request\Http');
 $cName = $request->getModuleName();
 ?>
<?php if ($title): ?>
<div class="page-title-wrapper<?= /* @escapeNotVerified */ $cssClass ?>">
    <?php    if($cName == 'wishlist') { ?>

        <div class="wishlist_mob_banner visible-xs">
          <!-- <h2>MY CUTEST ITEMS</h2> -->
          <img src="<?php echo $block->getbaseUrl(); ?>pub/media/blocks/Shirts.jpg" alt="b2b-banner">
      </div>
  <?php  } ?>
    <h1 class="page-title"
        <?php if ($block->getId()): ?> id="<?= /* @escapeNotVerified */ $block->getId() ?>" <?php endif; ?>
        <?php if ($block->getAddBaseAttributeAria()): ?>
            aria-labelledby="<?= /* @escapeNotVerified */ $block->getAddBaseAttributeAria() ?>"
        <?php endif; ?>>
        <?= /* @escapeNotVerified */ $title ?>
    </h1>
    <?= $block->getChildHtml() ?>
</div>
<?php endif; ?>



