<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>



<div class="option_pop_modal" id="popup-modal" style="display:none;">
	<?php
	
$image_url=$this->getUrl().'pub/media/catalog/product'.$_product->getImage();
	
	$final_price =$_product->getFinalPrice();
	$product_id=$_product->getId();
	$product_name= $_product->getName();

	
	?>
	<div class="col-xs-6"><img src="<?php echo $image_url;?>"></div>
	<div class="col-xs-5"><strong><?php echo $product_name;?></strong><br><p>&euro;<?php echo $final_price;?> </p></div>
	
	<div class="col-xs-12" style="margin-top:20px;border-top: 1px solid;border-bottom: 1px  solid;">
	
	<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);

$productTypeInstance = $objectManager->get('Magento\ConfigurableProduct\Model\Product\Type\Configurable');
$productAttributeOptions = $productTypeInstance->getConfigurableAttributesAsArray($product);


foreach ($productAttributeOptions as $key => $value) {
	
	 $tmp_option = $value['values'];
   
   echo '<ul>';
        foreach ($tmp_option as $tmp) 
        {
			
			$label=explode("|",$tmp['label']);
            echo '<li style="float:left;width:25%;text-align:center;padding:10px 0;"><i class="fa fa-circle-o" style="
    font-size: 15px;color: #cecece;height:auto;" data-id="'.$tmp['value_index'].'"></i><br/>'.$label[0].'</li>';
        }
		echo '</ul>';
	
	
}
	?>
	</div>
	
	<a href="#" style="float: left;width: 100%;text-align: center;margin-top: 41px;color: #333;
">Niet meer op voorraadd?</a>
	
	</div>

<a href="#" class="mobile_dropdown hidden-sm hidden-md hidden-lg hidden-xs" >Maat kiezen</a>
    <?php foreach ($_attributes as $_attribute): ?>
	
	
        <div class="field configurable required visible-xs visible-md visible-lg">
            <label class="label" for="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>">
                <span><?= $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
            </label>
            <div class="control">
                <select name="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>"
                        class="super-attribute-select">
                    <option value=""><?= /* @escapeNotVerified */ __('Choose a Size...') ?></option>
                </select>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                    "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>
<?php endif;?>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: '',
				modalClass: 'popup-detail-modal',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            $(".mobile_dropdown").on('click',function(){ 
                $("#popup-modal").modal("openModal");
            });

        }
    );
	
	
	jQuery('.option_pop_modal ul li i').click(function(){
		
		var data_id=jQuery(this).attr('data-id');
		jQuery('.option_pop_modal ul li i').removeClass('fa-circle active');
		jQuery('.option_pop_modal ul li i').addClass('fa-circle-o');
		jQuery(this).addClass('fa-circle active');
		
		jQuery('.super-attribute-select').val(data_id);
	});
</script>