#mainmenu ul li a {
    padding: 0;
    line-height: 49px;
}
.main-container .cute_grid.feature_product h2 {
    font-style: italic;
}
.main-container .cap-text-bg-light-1 .text{
    background-color: rgba(118, 118, 118, 0.5);
}
.main-container a:hover .cap-text-bg-light-1 .text{
    background-color: rgba(118, 118, 118, 0.5);
}
#maincontent .insta_top, #maincontent .subs {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
 }
 .cap-push-left-10{width: 100%;left: 0;right: 0;bottom: 25%;top: auto;text-align: center;}
 .ban h2.text {
    display: inline-block;
    margin: 0 auto;
    float: none;
    margin-right: 15px;
}
.footer-primary-bottom-spacing.inner img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#maincontent .custm-cap, #maincontent .custom-category .cap.cap-bottom-left a{
    background-color: rgba(118, 118, 118, 0.2);
}
.subs .news h2{
    text-align: center;
}
.subs .news  .korting h3{
    font-size: 18px;
    color: black;
}
.footer-container .footer-primary .block-1, .footer-container .footer-primary .block-2, .footer-container .footer-primary .block-3{
    width: 30%;
    margin:0;
}
.footer-container .footer-primary .block-4{
    width: 10%;
    margin: 0;
}
.custom-home-block {
    display:none;
}
.header-mobile .skip-link:hover, .header-mobile .skip-link:hover, .header-mobile .skip-link:hover, .links > li > a:hover {
    background-color:transparent;
}
@media(max-width: 1024px){
    #maincontent #user-menu-wrapper-regular .user-menu {
        padding-top: 3px;
    }
}

@media(min-width:768px){
    .ban .image.mob_img, .ban .text.mob_btn {
        display: none;    
    }
}
.header-container3 .header .logo-wrapper .logo{
    margin:0;
}
@media(max-width: 992px){
    #mainmenu ul{
        text-align: center;
    }
    #mainmenu ul li{
        display: inline-block;
        float: none;
    }
    .inner-container .nav-border-bottom , .inner-container .user-menu{
        border-bottom: 0px solid;
    }
    .custom-home-block {
        display:block;
    }
    .insta_top, .ban-2{
        display: none;
    }
    .footer-container.page-footer #scroll-to-top{
        bottom: 0;
    }
}

@media(max-width:768px){
.header-mobile  .custom_account img {
    width: 20px;
    padding-top: 0px;
    margin-top: 2px;
}
}
@media(max-width:767px){
    .ban .image.hidden_img{
        display: none;
    }
    .ban h2.text{
        margin: 0 auto 15px;
    }
    .page-wrapper .header-container {
        margin-bottom: 0px;
    }
    .main-container .main.container{
        padding-top: 0;
    }
    .cute_grid.feature_product {
        margin-top: 20px;    
    }
    .block.itemslider .products .item {
        padding-left: 0;
        padding-right: 0;    
    }
    .footer-container .footer-primary-bottom .item.item-left{
        max-width: 75%!important;
    }
    .footer-container .footer-primary-bottom .item.item-left p{
        text-align: left;
    }
    .container.custom-category .row{
        margin-left: 0;
        margin-right: 0;
    }
    .container.custom-category .col-sm-6.clothing {
        padding: 0;    
    }
    .owl-wrapper .cap-push-left-10{
        top:89% !important;
    }
    
     h2.text.mob_hide{
        display:none;
    }
}

.main-block .padd_15 {
    padding: 0 15px;
}

.main-block img {
    width: 100%;
}

.main-block .row {
    margin-bottom: 36px;
}

.main-block .truien, .main-block .jurkjes {
    /*3/26/19*/
    width: 61.9%;
    float: left;
}

.main-block .leggings, .main-block .jassen {
    /*3/26/19*/
    width: 38.1%;
    float: left;
}
.rokken {
    width: 50%;
    float: left;
}
.jumpsuits {
    width: 50%;
    float: left;
}

/*header*/

.nav-item .caret::before {

    content: "";

}
 .header-container .inner-container .skip-link{
	height: auto;
	line-height: 22px;
	max-height: 100%;
}
.inner-container .custm-minicart img{
	width: 16px;
	padding-bottom: 0;
	margin-top: 8px;
}
 .header-mobile .inner-container .skip-link:hover{
	background-color: transparent;
}
#header-container span.icon.search-custom img, #header-container .custom a img {

    width: 20px;
    margin-top: 10px;

}
.header-mobile .inner-container .skip-link:hover {
    color: #000;
}
.header-container .ic-menu::before {
    content: "\2630";
    font-size: 24px !important;
}
.dropdown-block .dropdown-heading .caret{margin-top: 20px;}
.header-primary .links > li > * {text-align: center;}
#header-container .link.wishlist.custom img {

    margin-top: 12px;
    width: 23px;

}
.header-container .nl_menu b {
    padding: 8px 15px;
    margin-top: 10px;
    line-height: 22px;
    display: inline-block;
    font-size: 18px;
}
#header-container span.icon.search-custom img {
    margin-top: 0;
    padding-top: 0;
}
.links > li > a:hover {
    background-color: transparent;}