<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist */
?>

<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
    <?php echo($block->getChildHtml('wishlist.rss.link'));?>
    <form class="form-wishlist-items" id="wishlist-view-form"
          data-mage-init='{"wishlist":{
          "addToCartUrl":<?php /* @escapeNotVerified */ echo $block->getItemAddToCartParams("%item%");?>,
          "addAllToCartUrl":<?php /* @escapeNotVerified */ echo $block->getAddAllToCartParams(); ?>,
          "commentString":""},
          "validation": {}}' action="<?php /* @escapeNotVerified */ echo $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]) ?>" method="post">
        <?php echo $block->getChildHtml('top'); ?>
        <?php if ($block->hasWishlistItems()): ?>
            <?php echo $block->getBlockHtml('formkey');?>
            <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
            <?php echo $block->getChildHtml('items');?>
        <?php else: ?>
            <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have no items in your wish list.') ?></span></div>
            <div class="visible-xs">
                  <div class='popup'>
                    <div class='cnt223'>
                    <h1 class="text-center">Favorieten</h1><a href='<?php echo $block->getBaseUrl();?>customer/account/' class='c-x'>X</a>
                    <p>
                      Je favorieten is op dit moment nog leeg.
                    </p>
                    </div>
                  </div>
                </div>
            <script>
              require(["jquery"], function($){
                var overlay = $('<div id="overlay"></div>');
                overlay.show();
                overlay.appendTo(document.body);
                $('.popup').show();
                $('.close').click(function(){
                $('.popup').hide();
                overlay.appendTo(document.body).remove();
                return false;
                });
                // $('.x').click(function(){
                // $('.popup').hide();
                // overlay.appendTo(document.body).remove();
                // return false;
                // });
              });
          </script>
        <?php endif ?>
        <?php echo $block->getChildHtml('bottom'); ?>
        <div class="actions-toolbar">
            <div class="primary">
                <?php echo $block->getChildHtml('control_buttons');?>
            </div>
            <div class="secondary">
                <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
                    <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
                </a>
            </div>
        </div>
    </form>
    <script id="form-tmpl" type="text/x-magento-template">
      <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
          <% if (data.qty) { %>
          <input name="qty" value="<%- data.qty %>">
          <% } %>
          
          <% if (data.item) { %>
          <input name="item" value="<%- data.item %>">
          <% } %>
          
          <% if (data.entity) { %>
          <input name="entity" value="<%- data.entity %>">
          <% } %>
      </form>
  </script>
<?php endif ?>
<style type="text/css">

.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 999;
top: 20%;
left: 0;
}
.cnt223{
min-height: 150px;
margin: 100px 15px;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px;
border-radius: 0px;
box-shadow: 1px 1px 10px #c7c1c1;
}
.cnt223 h1{
  font-family: PT_Serif-Web-Regular!important;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    text-align: center;
}
.cnt223 .c-x {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}
@media(max-width: 767px){
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
    }
  }
</style>
