<?php
// @codingStandardsIgnoreFile

$store_type = substr($block->getStoreCode(), 0, 3);

if ($store_type == "b2b"):
?>

<div style="clear: both; float: right; color: #626262">
    <span>Retail price: </span>
<?php 
    $stockRegistry = $block->getStockRegistry();
    $i = 0;
    foreach ($block->getProductChildren() as $child)
    {
        $rrp = $block->getMSRP($child);
        $attribute = $child->getResource()->getAttribute('size');
        $attributeValue = $attribute->getFrontend()->getValue($child);
        $attributeId = $attribute->getSource()->getOptionId($attributeValue);

        echo "<span class='rrp' aid='".$attributeId."'style='display: ".($i == 0 ? 'inline' : 'none')."'>$rrp</span>";
        $i++;
    }
?>
</div>

<script type="text/javascript">
    require(["jquery"], function(jQuery) {
        jQuery(".product-options-wrapper select[id^='attribute']").last().on('change', function() {
            var id = jQuery(this).val();
            jQuery('.rrp').hide();
            jQuery('.rrp[aid="'+id+'"]').show();
        }); 
    });
</script>

<?php endif; ?>