<?php
// @codingStandardsIgnoreFile

$store_type = substr($block->getStoreCode(), 0, 3);

if ($store_type == "b2b"):
?>
<div class="product info quantities">
    <div class="block-title">
        <span style="font-size: 16px">Available quantities</span>
    </div>

    <table style="max-width: 110px">
<?php 
    $stockRegistry = $block->getStockRegistry();
    foreach ($block->getProductChildren() as $child)
    {
        $productStock = $stockRegistry->getStockItem($child->getId());
        $qty = $productStock->getQty();
        $attribute = $child->getResource()->getAttribute('size');
        $attributeValue = $attribute->getFrontend()->getValue($child);
        printf("<tr><td>%s:</td><td>%d</td>", $attributeValue, $qty);
    }
?> 
    </table>
</div>
<?php endif; ?>