<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
    <?php if ($_attributeLabel != __('none')): ?><?php endif; ?>
        <?php if($_className == 'description'):?>
        <?php echo $_product->getDescription(); ?>
        <?php endif; ?>
    <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ //echo $_attributeValue; ?><?php echo $_product->getShortDescription(); ?></div>
</div>
<?php endif; ?>
<div class="csku" id="csku" style="display: none"><?php echo $_product->getSku();?></div>
<style type="text/css">
.product-info-main .page-title-wrapper h1.page-title{
    font-size: 22px;
}
.product-info-main .product.attribute.sku{
    font-size: 16px;
}
.product-info-main .size_chart p{
    color: #333;
}
.product-item-info a.product-item-link {
    font-size: 16px;
}
.price-box.price-final_price span.price-wrapper span.price {
    font-size: 18px;
}
.product.attribute.overview .value{
    display: none;
}
/*p{
    display: none;
}
ul{
    display: none;
}*/
.value
{
    display: none;
}
</style>
