<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    $productTypeInstance = $product->getTypeInstance(); ?>
    <?php if ($product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) { ?>
        <div class="row size_chart hidden-xs">
            <div class="col-md-12 col-sm-12">
            <!-- <p>Kies je maat</p> -->
            <p><?php /* @escapeNotVerified */ echo __('Size') ?></p>
            </div>
        </div>
    <?php } ?>   



<style>
    .size_chart{
        padding-top: 20px;   
    }
    .size_chart p{
        font-size: 18px;
    }
</style>