<div class="container" id="desk">
  <div class="row">
    <div class="col-md-6 col-sm-6 bezorging-content">
      <h2>MEET YOUR DONSJES SOON</h2>
      <p style="font-size:18px;">We ship to more than 40 countries worldwide. Please find below a dropdown that list these countries. In this table you can also find the shipping costs and expected shipping time for your country. After you have completed your order you will receive a confirmation email with a link to track & trace your package. If you have any questions related to the delivery of your order, please contact us at info@donsje.com.</p>
      <form action="" class="custom_form">
        <div class="form-group">
          <label for="">Land</label>
      <select id="shipCountry">
                      <option value="">Please Select</option>
                      <option value="ABW">Aruba</option>
            <option value="AUS">Australia</option>
            <option value="AUT">Austria</option>
            <option value="BEL">Belgium</option>
            <option value="BRA">Brazil</option>
            <option value="BGR">Bulgaria</option>
            <option value="CAN">Canada</option>
            <option value="CHN">China</option>
            <option value="HRV">Croatia</option>
            <option value="CYP">Cyprus</option>
            <option value="CZE">Czech Republic</option>
            <option value="DNK">Denmark</option>
            <option value="EST">Estonia</option>
            <option value="FIN">Finland</option>
            <option value="FRA">France</option>
            <option value="DEU">Germany</option>
            <option value="GRC">Greece</option>
            <option value="HKG">Hong Kong</option>
            <option value="HUN">Hungary</option>
            <option value="ISL">Iceland</option>
            <option value="IND">India</option>
            <option value="IDN">Indonesia</option>
            <option value="IRL">Ireland</option>
            <option value="ISR">Israel</option>
            <option value="ITA">Italy</option>
            <option value="JPN">Japan</option>
            <option value="KWT">Kuwait</option>
            <option value="LVA">Latvia</option>
            <option value="LBN">Lebanon</option>
            <option value="LTU">Lithuania</option>
            <option value="LUX">Luxembourg</option>
            <option value="MLT">Malta</option>
            <option value="MCO">Monaco</option>
            <option value="NLD">Netherlands</option>
            <option value="ANT">Netherlands Antilles</option>
            <option value="NZL">New Zealand</option>
            <option value="NOR">Norway</option>
            <option value="POL">Poland</option>
            <option value="PRT">Portugal</option>
            <option value="ROU">Romania</option>
            <option value="RUS">Russia</option>
            <option value="SAU">Saudi Arabia</option>
            <option value="SGP">Singapore</option>
            <option value="SVK">Slovakia</option>
            <option value="SVN">Slovenia</option>
            <option value="ZAF">South Africa</option>
            <option value="KOR">South Korea</option>
            <option value="ESP">Spain</option>
            <option value="SWE">Sweden</option>
            <option value="CHE">Switzerland</option>
            <option value="TWN">Taiwan</option>
            <option value="TUR">Turkey</option>
            <option value="ARE">United Arab Emirates</option>
            <option value="GBR">United Kingdom</option>
            <option value="USA">United States</option>
      </select>
        </div>
        <div class="form-group">
          <label for="">Levertijd</label>
        <select id="shipTime" disabled="">
                      <option value=""></option>
                      <option value="ABW">7-9 working days</option>
            <option value="AUS">7-9 working days</option>
            <option value="AUT">1-3 working days</option>
            <option value="BEL">1-3 working days</option>
            <option value="BRA">7-9 working days</option>
            <option value="BGR">1-3 working days</option>
            <option value="CAN">7-9 working days</option>
            <option value="CHN">7-9 working days</option>
            <option value="HRV">1-3 working days</option>
            <option value="CYP">1-3 working days</option>
            <option value="CZE">1-3 working days</option>
            <option value="DNK">1-3 working days</option>
            <option value="EST">1-3 working days</option>
            <option value="FIN">1-3 working days</option>
            <option value="FRA">1-3 working days</option>
            <option value="DEU">1-3 working days</option>
            <option value="GRC">1-3 working days</option>
            <option value="HKG">7-9 working days</option>
            <option value="HUN">1-3 working days</option>
            <option value="ISL">1-3 working days</option>
            <option value="IND">7-9 working days</option>
            <option value="IDN">7-9 working days</option>
            <option value="IRL">1-3 working days</option>
            <option value="ISR">7-9 working days</option>
            <option value="ITA">1-3 working days</option>
            <option value="JPN">7-9 working days</option>
            <option value="KWT">7-9 working days</option>
            <option value="LVA">1-3 working days</option>
            <option value="LBN">1-3 working days</option>
            <option value="LTU">1-3 working days</option>
            <option value="LUX">1-3 working days</option>
            <option value="MLT">1-3 working days</option>
            <option value="MCO">1-3 working days</option>
            <option value="NLD">1-2 working days</option>
            <option value="ANT">7-9 working days</option>
            <option value="NZL">7-9 working days</option>
            <option value="NOR">1-3 working days</option>
            <option value="POL">1-3 working days</option>
            <option value="PRT">1-3 working days</option>
            <option value="ROU">1-3 working days</option>
            <option value="RUS">7-9 working days</option>
            <option value="SAU">7-9 working days</option>
            <option value="SGP">7-9 working days</option>
            <option value="SVK">1-3 working days</option>
            <option value="SVN">1-3 working days</option>
            <option value="ZAF">7-9 working days</option>
            <option value="KOR">7-9 working days</option>
            <option value="ESP">1-3 working days</option>
            <option value="SWE">1-3 working days</option>
            <option value="CHE">1-3 working days</option>
            <option value="TWN">7-9 working days</option>
            <option value="TUR">7-9 working days</option>
            <option value="ARE">7-9 working days</option>
            <option value="GBR">1-3 working days</option>
            <option value="USA">7-9 working days</option>
        </select>
        </div>
        <div class="form-group">
          <label for="">Verzendkosten</label>
        <select id="shipCosts" disabled="">
                      <option value=""></option>
                      <option value="ABW">€ 29,90</option>
            <option value="AUS">€ 4,90</option>
            <option value="AUT">€ 4,90</option>
            <option value="BEL">€ 0,00</option>
            <option value="BRA">€ 29,90</option>
            <option value="BGR">€ 19,90</option>
            <option value="CAN">€ 4,90</option>
            <option value="CHN">€ 29,90</option>
            <option value="HRV">€ 19,90</option>
            <option value="CYP">€ 29,90</option>
            <option value="CZE">€ 9,90</option>
            <option value="DNK">€ 4,90</option>
            <option value="EST">€ 9,90</option>
            <option value="FIN">€ 9,90</option>
            <option value="FRA">€ 3,75</option>
            <option value="DEU">€ 3,75</option>
            <option value="GRC">€ 19,90</option>
            <option value="HKG">€ 29,90</option>
            <option value="HUN">€ 9,90</option>
            <option value="ISL">€ 4,90</option>
            <option value="IND">€ 29,90</option>
            <option value="IDN">€ 29,90</option>
            <option value="IRL">€ 9,90</option>
            <option value="ISR">€ 4,90</option>
            <option value="ITA">€ 4,90</option>
            <option value="JPN">€ 4,90</option>
            <option value="KWT">€ 29,90</option>
            <option value="LVA">€ 9,90</option>
            <option value="LBN">€ 29,90</option>
            <option value="LTU">€ 9,90</option>
            <option value="LUX">€ 3,75</option>
            <option value="MLT">€ 19,90</option>
            <option value="MCO">€ 9,90</option>
            <option value="NLD">€ 0,00</option>
            <option value="ANT">€ 29,90</option>
            <option value="NZL">€ 4,90</option>
            <option value="NOR">€ 4,90</option>
            <option value="POL">€ 9,90</option>
            <option value="PRT">€ 9,90</option>
            <option value="ROU">€ 19,90</option>
            <option value="RUS">€ 29,90</option>
            <option value="SAU">€ 29,90</option>
            <option value="SGP">€ 29,90</option>
            <option value="SVK">€ 9,90</option>
            <option value="SVN">€ 9,90</option>
            <option value="ZAF">€ 9,90</option>
            <option value="KOR">€ 29,90</option>
            <option value="ESP">€ 9,90</option>
            <option value="SWE">€ 9,90</option>
            <option value="CHE">€ 19,90</option>
            <option value="TWN">€ 29,90</option>
            <option value="TUR">€ 29,90</option>
            <option value="ARE">€ 29,90</option>
            <option value="GBR">€ 3,75</option>
            <option value="USA">€ 4,90</option>
        </select>
        </div>
      </form>
      <div class="Carriers row">
        <h2 style="margin:15px;">Vervoerders </h2>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/postnl-logo.png" class="img-responsive" alt="postnl-logo"> </div>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/UPS.png" class="img-responsive" alt="UPS"> </div>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/TNT-logo.png" class="img-responsive" alt="TNT-logo"> </div>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/FedEx.png" class="img-responsive" alt="FedEx"> </div>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/dhl_logo.png" class="img-responsive" alt="dhl_logo"> </div>
        <div class="col-md-2 col-sm-2 col-xs-4"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/DPD-logo.png" class="img-responsive" alt="DPD-logo"> </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6"> <img src="http://magtest.websitetestserver.eu/pub/media/blocks/Betalen.jpg" alt="Betalen" class="img-responsive"> </div>
  </div>
</div>
<style type="text/css">
#desk{display:block;}
#mob{display:none;}
    .bezorging-content{
	    padding:45px 45px 0;
    }
    .Carriers.row img {
        height: 30px;
        margin: 15px auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .custom_form {
        padding: 40px 0;
        float: left;
        width: 100%;
    }
    .custom_form .form-group {
        width: 33.33%;
        float: left;
    }
    .custom_form .form-group input, .custom_form .form-group select{
        border-radius: 0;
        width: 90%;
        margin-bottom: 15px;
        height:40px;
    }
    .custom_form label {
        margin-bottom: 10px;
        display: block;
         font-size:18px;
    }
    .Carriers.row h2 {
        font-size: 24px;
         letter-spacing: 0;
    }
    .Carriers.row {
        clear: both;
    }
    .cms-bezorging .columns{
        padding: 0 15px;
     }
    @media(max-width:767px){
		
		.navbar-inverse {
   
    padding: 0 32px 7px 30px;
 
}
        .custom_form .form-group {
             width: 100%;
            }
        .custom_form .form-group input, .custom_form .form-group select{
            width: 100%;
        }
		.custom_form {padding:0;}
		.custom_form label {font-size:22px; font-weight:700;}
		#desk {display:none;}
	#mob {display:block;}
.cont_text01 h2{letter-spacing:0.8px;}
#cont_actsection{padding:20px 0px;}
.cont_bgimg{position:relative;}
.cont_bgimg img{width:100%; margin:0px auto}
.cont_textd{position:absolute; bottom:25px; left:0px; right:0px;}
.cont_textd h2{font-size:25px; color:#fff; text-transform:uppercase; color:#fff; text-align:center; font-family:'PT_Serif-Web-Regular';}
.cont_text01{padding:38px 0px;}
.cont_box1{text-align:left; padding:5px 0px;}
.cont_box1 h2{font-size:22px; font-weight:700; padding:8px 0px; font-family:'PT_Serif-Web-Regular';}
.cont_box1 p{font-size:18px; font-weight:400; padding:5px 0px; line-height:24px;font-family:'PT_Serif-Web-Regular';}
.cont_box1 ul{padding:2px 0px;}
.cont_box1 ul li{padding:2px 0px; line-height:16px; font-size:18px;font-family:'PT_Serif-Web-Regular';}
.cont_box1 ul li a{font-size:18px; font-weight:400; color:#000; text-decoration:none;font-family:'PT_Serif-Web-Regular';}
.cont_box1 a{font-size:16px; font-weight:400; color:#000; text-decoration:none;font-family:'PT_Serif-Web-Regular';}
.nes_letter{padding:20px 0px; border-top:1px solid #000; border-bottom:1px solid #000; text-align:center;font-family:'PT_Serif-Web-Regular';}
.nes_letter h2{font-size:18px; text-transform:uppercase; font-weight:400;font-family:'PT_Serif-Web-Regular';}
.nes_letter p{font-size:14px; font-weight:400;font-family:'PT_Serif-Web-Regular';}
.nes_letter p span{font-weight:600;font-family:'PT_Serif-Web-Regular';}
.nes_letter a{display:block; text-align:center; border:1px solid #707070;padding:10px 0px; font-size:16px; font-weight:400; color:#000; margin:12px auto; text-decoration:none;font-family:'PT_Serif-Web-Regular';}
.nes_letter a:hover{background:#707070; color:#fff;font-family:'PT_Serif-Web-Regular';}
    }
select#shipTime:disabled {
    color: #000;
    opacity: 1;
    -webkit-appearance: none;
}  
select#shipCosts:disabled {
    color: #000;
    opacity: 1;
    -webkit-appearance: none;
}
@media(max-width: 767px){
    select#shipTimes:disabled {
        color: #000;
        opacity: 1;
        -webkit-appearance: none;
    }  
    select#shipCostss:disabled {
        color: #000;
        opacity: 1;
        -webkit-appearance: none;
    }
}
</style>
<div class="" id="mob">
  <div class="row">
    <div class="col-md-12">
      <div class="cont_bgimg"> <img src="http://magtest.websitetestserver.eu/pub/media/wysiwyg/unnamed.jpg" alt="" class="img-fluid" />
        <div class="cont_textd">
          <h2>Bezorging</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="cont_text01">
        <div class="cont_box1">
          <h2>Bezorging & levering </h2>
          <p>Donsje producten worden bezorgd in 40 
            landen wereldwijd. Gebruik de tabel hieronder
            om de levertijd & -kosten to berekenen per
            land. Nadat je je order hebt geplaatst ontvang
            je een order bevestiging mail met een track 
            and trace link. Mocht je vragen hebben
            rondom je levering/order stuur dan een
            e-mail naar info@donsje.com en we helpen je 
            graag verder. </p>
        </div>
      <form action="" class="custom_form">
        <div class="form-group">
          <label for="">Land</label>
      <select id="shipCountrys">
                      <option value="">Please Select</option>
                      <option value="ABW">Aruba</option>
            <option value="AUS">Australia</option>
            <option value="AUT">Austria</option>
            <option value="BEL">Belgium</option>
            <option value="BRA">Brazil</option>
            <option value="BGR">Bulgaria</option>
            <option value="CAN">Canada</option>
            <option value="CHN">China</option>
            <option value="HRV">Croatia</option>
            <option value="CYP">Cyprus</option>
            <option value="CZE">Czech Republic</option>
            <option value="DNK">Denmark</option>
            <option value="EST">Estonia</option>
            <option value="FIN">Finland</option>
            <option value="FRA">France</option>
            <option value="DEU">Germany</option>
            <option value="GRC">Greece</option>
            <option value="HKG">Hong Kong</option>
            <option value="HUN">Hungary</option>
            <option value="ISL">Iceland</option>
            <option value="IND">India</option>
            <option value="IDN">Indonesia</option>
            <option value="IRL">Ireland</option>
            <option value="ISR">Israel</option>
            <option value="ITA">Italy</option>
            <option value="JPN">Japan</option>
            <option value="KWT">Kuwait</option>
            <option value="LVA">Latvia</option>
            <option value="LBN">Lebanon</option>
            <option value="LTU">Lithuania</option>
            <option value="LUX">Luxembourg</option>
            <option value="MLT">Malta</option>
            <option value="MCO">Monaco</option>
            <option value="NLD">Netherlands</option>
            <option value="ANT">Netherlands Antilles</option>
            <option value="NZL">New Zealand</option>
            <option value="NOR">Norway</option>
            <option value="POL">Poland</option>
            <option value="PRT">Portugal</option>
            <option value="ROU">Romania</option>
            <option value="RUS">Russia</option>
            <option value="SAU">Saudi Arabia</option>
            <option value="SGP">Singapore</option>
            <option value="SVK">Slovakia</option>
            <option value="SVN">Slovenia</option>
            <option value="ZAF">South Africa</option>
            <option value="KOR">South Korea</option>
            <option value="ESP">Spain</option>
            <option value="SWE">Sweden</option>
            <option value="CHE">Switzerland</option>
            <option value="TWN">Taiwan</option>
            <option value="TUR">Turkey</option>
            <option value="ARE">United Arab Emirates</option>
            <option value="GBR">United Kingdom</option>
            <option value="USA">United States</option>
      </select>
        </div>
        <div class="form-group">
          <label for="">Levertijd</label>
        <select id="shipTimes" disabled="">
                      <option value=""></option>
                      <option value="ABW">7-9 working days</option>
            <option value="AUS">7-9 working days</option>
            <option value="AUT">1-3 working days</option>
            <option value="BEL">1-3 working days</option>
            <option value="BRA">7-9 working days</option>
            <option value="BGR">1-3 working days</option>
            <option value="CAN">7-9 working days</option>
            <option value="CHN">7-9 working days</option>
            <option value="HRV">1-3 working days</option>
            <option value="CYP">1-3 working days</option>
            <option value="CZE">1-3 working days</option>
            <option value="DNK">1-3 working days</option>
            <option value="EST">1-3 working days</option>
            <option value="FIN">1-3 working days</option>
            <option value="FRA">1-3 working days</option>
            <option value="DEU">1-3 working days</option>
            <option value="GRC">1-3 working days</option>
            <option value="HKG">7-9 working days</option>
            <option value="HUN">1-3 working days</option>
            <option value="ISL">1-3 working days</option>
            <option value="IND">7-9 working days</option>
            <option value="IDN">7-9 working days</option>
            <option value="IRL">1-3 working days</option>
            <option value="ISR">7-9 working days</option>
            <option value="ITA">1-3 working days</option>
            <option value="JPN">7-9 working days</option>
            <option value="KWT">7-9 working days</option>
            <option value="LVA">1-3 working days</option>
            <option value="LBN">1-3 working days</option>
            <option value="LTU">1-3 working days</option>
            <option value="LUX">1-3 working days</option>
            <option value="MLT">1-3 working days</option>
            <option value="MCO">1-3 working days</option>
            <option value="NLD">1-2 working days</option>
            <option value="ANT">7-9 working days</option>
            <option value="NZL">7-9 working days</option>
            <option value="NOR">1-3 working days</option>
            <option value="POL">1-3 working days</option>
            <option value="PRT">1-3 working days</option>
            <option value="ROU">1-3 working days</option>
            <option value="RUS">7-9 working days</option>
            <option value="SAU">7-9 working days</option>
            <option value="SGP">7-9 working days</option>
            <option value="SVK">1-3 working days</option>
            <option value="SVN">1-3 working days</option>
            <option value="ZAF">7-9 working days</option>
            <option value="KOR">7-9 working days</option>
            <option value="ESP">1-3 working days</option>
            <option value="SWE">1-3 working days</option>
            <option value="CHE">1-3 working days</option>
            <option value="TWN">7-9 working days</option>
            <option value="TUR">7-9 working days</option>
            <option value="ARE">7-9 working days</option>
            <option value="GBR">1-3 working days</option>
            <option value="USA">7-9 working days</option>
        </select>
        </div>
        <div class="form-group">
          <label for="">Verzendkosten</label>
        <select id="shipCostss" disabled="">
                      <option value=""></option>
                      <option value="ABW">€ 29,90</option>
            <option value="AUS">€ 4,90</option>
            <option value="AUT">€ 4,90</option>
            <option value="BEL">€ 0,00</option>
            <option value="BRA">€ 29,90</option>
            <option value="BGR">€ 19,90</option>
            <option value="CAN">€ 4,90</option>
            <option value="CHN">€ 29,90</option>
            <option value="HRV">€ 19,90</option>
            <option value="CYP">€ 29,90</option>
            <option value="CZE">€ 9,90</option>
            <option value="DNK">€ 4,90</option>
            <option value="EST">€ 9,90</option>
            <option value="FIN">€ 9,90</option>
            <option value="FRA">€ 3,75</option>
            <option value="DEU">€ 3,75</option>
            <option value="GRC">€ 19,90</option>
            <option value="HKG">€ 29,90</option>
            <option value="HUN">€ 9,90</option>
            <option value="ISL">€ 4,90</option>
            <option value="IND">€ 29,90</option>
            <option value="IDN">€ 29,90</option>
            <option value="IRL">€ 9,90</option>
            <option value="ISR">€ 4,90</option>
            <option value="ITA">€ 4,90</option>
            <option value="JPN">€ 4,90</option>
            <option value="KWT">€ 29,90</option>
            <option value="LVA">€ 9,90</option>
            <option value="LBN">€ 29,90</option>
            <option value="LTU">€ 9,90</option>
            <option value="LUX">€ 3,75</option>
            <option value="MLT">€ 19,90</option>
            <option value="MCO">€ 9,90</option>
            <option value="NLD">€ 0,00</option>
            <option value="ANT">€ 29,90</option>
            <option value="NZL">€ 4,90</option>
            <option value="NOR">€ 4,90</option>
            <option value="POL">€ 9,90</option>
            <option value="PRT">€ 9,90</option>
            <option value="ROU">€ 19,90</option>
            <option value="RUS">€ 29,90</option>
            <option value="SAU">€ 29,90</option>
            <option value="SGP">€ 29,90</option>
            <option value="SVK">€ 9,90</option>
            <option value="SVN">€ 9,90</option>
            <option value="ZAF">€ 9,90</option>
            <option value="KOR">€ 29,90</option>
            <option value="ESP">€ 9,90</option>
            <option value="SWE">€ 9,90</option>
            <option value="CHE">€ 19,90</option>
            <option value="TWN">€ 29,90</option>
            <option value="TUR">€ 29,90</option>
            <option value="ARE">€ 29,90</option>
            <option value="GBR">€ 3,75</option>
            <option value="USA">€ 4,90</option>
        </select>
        </div>
      </form>
      </div>
      <div style="clear:both;">&nbsp;</div>
      <div class="nes_letter">
        <h2>NEWSLETTER</h2>
        <p>Blijf op de hoogte en ontvang <span class="">10% Korting</span> op je eerste order!</p>
        <a href="#">Ontvang 10% Korting</a> </div>
    </div>
  </div>
</div>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
    $(document).ready(function () {   
        $('body').on('change','#shipCountry', function() {
             $('#shipTime').val(this.value);
             $('#shipCosts').val(this.value);
        });
    }); 
        $('body').on('change','#shipCountrys', function() {
             $('#shipTimes').val(this.value);
             $('#shipCostss').val(this.value);
        });
    }); 
</script> 

