<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at thisURL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_SizeChart
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeID       = $storeManager->getStore()->getStoreId();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$filterProvider = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
?>
<div id="babyschoenen_myModel" style="display: none;">
    <!-- <h1><?php echo __($block->getTitle()); ?></h1> -->
    <div>
        <?php
        $result = $connection->fetchRow("SELECT * FROM bss_size_chart WHERE `size_chart_value_id` = '13'");
        echo $filterProvider->getPageFilter()->filter($result['content']);
        ?>
    </div>
</div>
<div id="kinderschoenen_myModel" style="display: none;">
    <!-- <h1><?php echo __($block->getTitle()); ?></h1> -->
    <div>
        <?php
        $result = $connection->fetchRow("SELECT * FROM bss_size_chart WHERE `size_chart_value_id` = '2'");
        echo $filterProvider->getPageFilter()->filter($result['content']);
        ?>
    </div>
</div>
<div id="kleding_myModel" style="display: none;">
    <!-- <h1><?php echo __($block->getTitle()); ?></h1> -->
    <div>
        <?php
        $result = $connection->fetchRow("SELECT * FROM bss_size_chart WHERE `size_chart_value_id` = '10'");
        echo $filterProvider->getPageFilter()->filter($result['content']);
        ?>
    </div>
</div>
<div id="mutsen_myModel" style="display: none;">
    <!-- <h1><?php echo __($block->getTitle()); ?></h1> -->
    <div>
        <?php
        $result = $connection->fetchRow("SELECT * FROM bss_size_chart WHERE `size_chart_value_id` = '15'");
        echo $filterProvider->getPageFilter()->filter($result['content']);
        ?>
    </div>
</div>
<script>
require(
    [
       'jquery',
        'Magento_Ui/js/modal/modal'
    ],
    function(
        $,
        modal
    ) {
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            buttons: []
/*            buttons: [{
                text: $.mage.__('Back'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]*/
        };

        var popup = modal(options, $('#babyschoenen_myModel'));
	    $(".babyschoenen-sc").on("click",function(){
	        event.preventDefault();
	        $('#babyschoenen_myModel').modal('openModal');
	    });
	    var popup1 = modal(options, $('#kinderschoenen_myModel'));
	    $(".kinderschoenen-sc").on("click",function(){
	        event.preventDefault();
	        $('#kinderschoenen_myModel').modal('openModal');
	    });
	    var popup1 = modal(options, $('#kleding_myModel'));
	    $(".kleding-sc").on("click",function(){
	        event.preventDefault();
	        $('#kleding_myModel').modal('openModal');
	    });
	    var popup1 = modal(options, $('#mutsen_myModel'));
	    $(".mutsen-sc").on("click",function(){
	        event.preventDefault();
	        $('#mutsen_myModel').modal('openModal');
	    });
    });
</script>
<style type="text/css">
.modal-popup{
    margin-top: 21px;
}
</style>