<input id="search" type="text" name="textField">
<input type="submit" value="send" />
<script type="text/javascript">
 require(['jquery', 'jquery/ui'], function($){
jQuery('input[type="submit"]').attr('disabled', true);
jQuery('input[type="text"]').on('keyup',function() {
    if(jQuery(this).val() != '') {
        jQuery('input[type="submit"]').attr('disabled' , false);
    }else{
        jQuery('input[type="submit"]').attr('disabled' , true);
    }
});
});
</script>