<?php
/**
 * @var Infortis\UltraSlideshow\Block\Slideshow $this
 */
?>
<?php $slides = $this->getSlideIds(); ?>
<?php if (!empty($slides)): ?>

    <?php
    $h = $this->getHelperData(); //
    $isHomeSlideshow = $this->isPredefined();
    $sliderHash = $this->getFrontendHash();
    $sliderId = "slideshow-{$sliderHash}";
    $bannersId = "slideshow-banners-{$sliderHash}";
    $sliderClasses = [];

    // Basic slider parameters
    // --------------------------------------------------------------
    
    // By default the slideshow works in the "singleItem" mode.
    // If the breakpoints parameter is set, the slideshow works in the "carousel" mode.
    $breakpoints = $this->getBreakpoints(); // Param: breakpoints
    if ($breakpoints !== NULL)
    {
        $carouselMode = true;
    }
    else
    {
        $carouselMode = false;

        // Slide transition effect
        $fx = $this->getSlideTransition(); // Param: slide_transition
        if ($fx === NULL) // Param not set
        {
            $fx = $h->getCfg('general/effect');
        }
    }

    // Slider parameters for both modes
    // --------------------------------------------------------------

    // Slider timeout. Set to enable automatic scrolling.
    $timeout = $this->getTimeout(); // Param: timeout
    if ($timeout === NULL) // Param not set
    {
        $timeout = intval($h->getCfg('general/timeout'));
    }
    else
    {
        $timeout = intval($timeout);
    }

    // If set, slider will loop.
    $loop = $this->getLoop(); // Param: loop
    if ($loop === NULL) // Param not set
    {
        $loop = $h->getCfg('general/loop');
    }

    // Speed (arrows / touch swipe)
    $speed = intval($h->getCfg('general/speed'));

    // Speed (automatic scrolling / pagination)
    $autoSpeed = intval($h->getCfg('general/auto_speed'));

    // Pause slider on mouse hover
    $pause = $h->getCfg('general/pause');

    // Auto height
    $smoothHeight = $h->getCfg('general/smooth_height');

    // Additional side banners
    // --------------------------------------------------------------

    $banners = $this->getAdditionalBannerId();
    if ($banners)
    {
        $banners = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($banners)->toHtml(); //

        // Get slideshow layout classes: width (in grid units), position of slider (left or right), 
        // gutter between slider and additional banners, show/hide banners on mobile devices.
        $classes = $this->getSlideshowLayoutClasses();
        $sliderClasses[] = $classes['sliderGrid']; // Grid class for slider
        $sliderClasses[] = $classes['sliderPosition']; // Position class for slider
        $bannersClasses[] = $classes['bannersGrid']; // Grid class for banners
        $bannersClasses[] = $classes['hideBanners']; // Show/hide banners
    }

    // Navigation and other settings
    // --------------------------------------------------------------

    // Navigation buttons
    $navButtons = false;
    $navButtonsClasses = $this->getNavButtonsClasses();
    if ($navButtonsClasses)
    {
        $navButtons = true;
        $sliderClasses[] = $navButtonsClasses;
    }

    // Pagination
    $pagination = false;
    $paginationClasses = $this->getPaginationClasses();
    if ($paginationClasses)
    {
        $pagination = true;
        $sliderClasses[] = $paginationClasses;
    }

    // If this is predefined home page slideshow, optionally hide slides (not including side banners) on mobile devices
    if ($isHomeSlideshow && $h->getCfg('general/hide'))
    {
        $sliderClasses[] = 'hidden-xs';
    }

    ?>

    <?php if ($isHomeSlideshow): ?>
        <div class="slideshow-wrapper-additional" <?php echo $this->getMarginStyles(); ?>>
    <?php endif; ?>

            <div class="slideshow-wrapper-outer">

                <div class="slideshow-wrapper <?php echo implode(' ', $sliderClasses); ?>">
                    <div id="<?php echo $sliderId; ?>" class="slideshow owl-carousel">
                        <?php if ($this->isMultiBlock()): ?>
                            <?php foreach ($slides as $sid): ?>
                                <?php if (!empty($sid)): ?>
                                    <div class="item">
                                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($sid)->toHtml(); // ?>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($slides[0])->toHtml(); // ?>
                        <?php endif; ?>
                    </div>
                </div> <?php // end: slideshow-wrapper ?>

                <?php if ($banners): ?>
                    <div id="<?php echo $bannersId; ?>" class="slideshow-banners <?php echo implode(' ', $bannersClasses); ?>"><?php echo $banners; ?></div>
                <?php endif; ?>

            </div> <?php // end: slideshow-wrapper-outer ?>

    <?php if ($isHomeSlideshow): ?>
        </div> <?php // end: slideshow-wrapper-additional ?>
    <?php endif; ?>


<?php endif; // end: if slides ?>

<style type="text/css">
    .slideshow-wrapper .slideshow.owl-carousel {
    display: block;
}
@media(max-width: 767px){
    .slideshow-wrapper .slideshow.owl-carousel .cap.cap-top-right {
        padding: 0;
        bottom: 0;
    }
}
.owl-theme .owl-controls .owl-page span{
    border-radius: 5px;
}
.owl-pagination{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.owl-theme .owl-controls .owl-page span{
    background-color: #ffffff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
    background-color: #dcd8d6;
}
</style>
<script type="text/javascript" xml="space">// <![CDATA[
            require(['jquery', 'cpowlcarousel'], function ($) {
                jQuery(document).ready(function () {
                    jQuery(".hbr-slider").owlCarousel({
                        items: 1,
                        itemsDesktop: [1080, 1],
                        itemsDesktopSmall: [860, 1],
                        itemsTablet: [768, 1],
                        itemsTabletSmall: [639, 1],
                        itemsMobile: [479, 1],
                        pagination: true,
                        autoPlay:5000,
                        /*navigationText: ['<div class="lft-btn"><i class="fa fa-angle-left"></i></div>', '<div class="rgt-btn"><i class="fa fa-angle-right"></div>'],*/
                        navigation: false,
                    });
                });
            });
// ]]></script>