@font-face {
    font-family: 'mailchimp';
    src:  url('../fonts/mailchimp.eot?3g8ubh');
    src:  url('../fonts/mailchimp.eot?3g8ubh#iefix') format('embedded-opentype'),
    url('../fonts/mailchimp.ttf?3g8ubh') format('truetype'),
    url('../fonts/mailchimp.woff?3g8ubh') format('woff'),
    url('../fonts/mailchimp.svg?3g8ubh#mailchimp') format('svg');
    font-weight: normal;
    font-style: normal;}
.admin__menu .item-mailchimp-menu.parent.level-0 > a:before {
    font-family: 'mailchimp';
    content: "\e991"
}

.admin__data-grid-wrap .data-grid .data-grid-draggable .data-row .data-grid-thumbnail-cell .admin__control-thumbnail > img:before {
    border:none;
}