
<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Scroll
 */
/**
 * @var \Amasty\Scroll\Block\Init $block
 */
if ($block->isEnabled()) : ?>
    <script>
        require([
            'jquery',
            'amScrollScript'
        ], function ($) {
            var bodyElem = $('body');
            if ($.data(bodyElem[0], 'mage-amScrollScript')) {
                bodyElem.amScrollScript('initialize');
            } else {
                bodyElem.amScrollScript(<?= $block->getConfig();?>);
            }
        });
    </script>
<?php endif; ?>

<!-- <script type="text/javascript" xml="space">
require(['jquery', 'jquery/ui'], function($){
$(document).ready(function(){
    //$('#myItem1').insertBefore('.amscroll-load-button');
    var bar1 = new ldBar("#myItem1");
    var bar2 = $('#myItem1').ldBar;
    bar1.set(10);

    $(document).on('click', '.amscroll-load-button',function () {
        $('#myItem1').insertBefore('.amscroll-load-button');
            var bar1 = new ldBar("#myItem1");
            var bar2 = $('#myItem1').ldBar;
            bar1.set(100);
        });

    $(document).on('click', '.amscroll-load-button',function () {
        setInterval(function(){
            var bar1 = new ldBar("#myItem1");
            var bar2 = $('#myItem1').ldBar;
            bar1.set(10);
        }, 3000);
    });

    setTimeout(function() {
        $('#myItem1').insertBefore('.amscroll-load-button');
    }, 1000);

    setInterval(function(){
        if($('.amscroll-load-button').length){
        }
        else{
            $('#myItem1').hide();
        }
    }, 1000);

});
});
</script> -->
<style type="text/css">
.cms-home #myItem1,
.ldBar-label{
    display: none;
}
.catalog-category-view .amscroll-load-button{
    padding: 11px 0;
    border: 1px solid;
    margin: 0 auto;
    color: #000;
    background: #fff !important;
    width: 27%;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
}
.catalog-category-view .amscroll-navbar{
    display: none;
}
@media screen and (max-width: 767px){
    .catalog-category-view .amscroll-load-button{
        width: 100%;
    }
}
</style>